

<h1>
<div><span style="color:#ff0000;">Y</span><span style="color:#ff2000;">o</span><span style="color:#ff4000;">u</span><span style="color:#ff5f00;"> </span><span style="color:#ff7f00;">a</span><span style="color:#ff9f00;">r</span><span style="color:#ffbf00;">e</span><span style="color:#ffdf00;"> </span><span style="color:#ffff00;">n</span><span style="color:#ccff00;">o</span><span style="color:#99ff00;">w</span><span style="color:#66ff00;"> </span><span style="color:#33ff00;">i</span><span style="color:#00ff00;">n</span><span style="color:#00ff40;"> </span><span style="color:#00ff80;">W</span><span style="color:#00ffbf;">o</span><span style="color:#00ffff;">n</span><span style="color:#00bfff;">d</span><span style="color:#0080ff;">e</span><span style="color:#0040ff;">r</span><span style="color:#0000ff;">l</span><span style="color:#2300ff;">a</span><span style="color:#4600ff;">n</span><span style="color:#6800ff;">d</span><span style="color:#8b00ff;">!</span></div></h1>

<img src = "http://germanvideo.net/21/images-of-unicorns-and-rainbows-20.jpg" style = "width: 720px; height: 480px"; align = 'middle'>

<p> Head back to reality <a href="http://0.0.0.0:8080">here</a></p>
