{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}

	<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Home</a></li>
  <li><a href="#!">About</a></li>
  <li class="divider"></li>
  <li><a href="#!">Log in</a></li>
  <li><a href="#!">New</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-CMU-Sells">Logo</a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

	<div class="background"> </div>
	<div class="container">
		<div class="content">
			<h1 class="name"> About </h1>
			<p class="description"> Inspired by the Facebook group, <a href="https://www.facebook.com/groups/580647781993254/">For Sale @ CMU</a>, this website was created in hopes of allowing a better, more organized platform for selling and buying between students at Carnegie Mellon University. To ensure safe sales, this website enforces the usage of Andrew IDs in order to log in and sell or make purchases. Payment is <b>not</b> done through this website, as it should be handled between both respective parties. </p>
		</div> 
	</div>
{% endblock %}