{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}

	<div class="row">
		<div class="col s1">Home</div>
		<div class="col s2">Log in</div>
		<div class="col s3">User</div>
	</div>

	<div class="background"> </div>
	<div class="container">
		<div class="content">
			<h1 class="name"> About </h1>
			<p class="description"> Inspired by the Facebook group, <a href="https://www.facebook.com/groups/580647781993254/">For Sale @ CMU</a>, this website was created in hopes of allowing a better, more organized platform for selling and buying between students at Carnegie Mellon University. To ensure safe sales, this website enforces the usage of Andrew IDs in order to log in and sell or make purchases. Payment is <b>not</b> done through this website, as it should be handled between both respective parties. </p>
		</div> 
	</div>
{% endblock %}