<!DOCTYPE html>
<html lang="en">

  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="SHORTCUT ICON" href="https://d30y9cdsu7xlg0.cloudfront.net/png/28589-200.png" />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title align ="center">{% block title %}{% endblock %}</title>

  </head>

  <body>

    <nav class="navbar teal darken-4">
      <div class="nav-wrapper">
        <a href="{{ url_for('.index')}}" class="brand-logo left">CMU Sells</a>
        <ul id="nav-mobile" class="right">

      <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="{{ url_for('.index') }}">Home</a></li>
          <li><a href="{{ url_for('.about') }}">About</a></li>
          <li><a href="{{ url_for('fb.login') }}">Log in</a></li>
          <li><a href="#!">New item</a></li>
        </ul>
        <nav>

            <ul class="right hide-on-med-and-down">
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1"> <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>

          </div>
        </nav>

        </ul>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    <div id="content">
      {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  </body>

</html>
