<footer class="page-footer light-blue lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">AwesomeSauce</h5>
        <p class="grey-text text-lighten-4">This website is awesome, just like AwesomeSauces.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Pages</h5>
        <ul>
          <li><a class="white-text" href="http://0.0.0.0:8080/about">About</a></li>
          <li><a class="white-text" href="#!">Sign up</a></li>
          <li><a class="white-text" href="#!">Post new item</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>

