{% extends "base.html" %}
{% block title %}CMU Sells{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    &nbsp;
  </div>

  <div id="grid" class="row">
  {% for item in items %}
    <div class="col s4">
      <div class="card">
        {% if item.photo != "" %}
        <div class="card-image">
          <img src="{{ item.photo }}">
          <span class="card-title text-shadow">{{ item.name }}</span>
        </div>
        <div class="card-content">
        {% else %}
        <div class="card-content">
          <span class="card-title">{{ item.name }}</span>
        {% endif %}
          <h5 class="green-text">
            {{ item.price }}
          </h5>
          <h5 class="red-text">
            {% if item.sold %}
            Sold
            {% endif %}
          </h5>
          <p class="wrap">
          {{ item.description }}
          </p>
        </div>
        <div class="card-action">
          <a href="https://www.facebook.com/{{ item.facebook_id }}">Buy</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

  <div>
    &nbsp;
  </div>

  <div class="row">
    <div class="col s3 offset-s3 center">
      <form method="POST" action="{{ url_for('fb.previous') }}">
        <button class="btn waves-effect waves-light" type="submit" name="action">
          <i class="material-icons white-text">chevron_left</i>
        </button>
      </form>
    </div>

    <div class="col s3 center">
      <form method="POST" action="{{ url_for('fb.next') }}">
        <button class="btn waves-effect waves-light" type="submit" name="action">
          <i class="material-icons white-text">chevron_right</i>
        </button>
      </form>
    </div>
  </div>

  <div>
    &nbsp;
  </div>
</div>


{% endblock %}

